<div class="container my-5">
    <h1 class="text-center"><strong>About</strong></h1>
        <p class="h5 text-center">
            ながのCAKEは全国発送可能なケーキ屋さんです。</br>
            お子様からお年寄りの方までお召し上がりいただけるよう、</br>
            様々なバリデーションをご用意しております。</br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
            ぜひご注文ください。
        </p>
    <div class="text-center pt-2">
    <%= link_to image_tag("nagaNO.png", width: 400, height: 400), "/" %>
    </div>
</div>