<div class="container">
  <div class="row">
    <div class="col-md-3">
      ジャンル<br>
       ケーキ<br>
       焼き菓子<br>
       プリン<br>
       キャンディ<br>
    </div>
    <div class="col-md-9" >
      <h1 class="-title">
          商品一覧
      </h1>
      <strong> 全１億件 </strong>

     </div>
    </div>
  </div>
</div>
