<div class="container">
  <div class="row">
    <div class="col-md-3">
      ジャンル<br>
      ケーキ<br>
      焼き菓子<br>
      プリン<br>
      キャンディ<br>
    </div>
    <div class="col-md-9">
      <H3>商品一覧 (全<%= @items.count %>件)</H3>

      <table>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <th><%= item.name %></th>
            <td>
              <%= link_to public_item_path(item) do %>
                <%= image_tag item.image %>
              <% end %>
            </td>
            <td>￥<% item.price.to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

    </div>
  </div>
</div>
