<div class="container">
  <div class="row">
    <div class="col-md-3">
      ジャンル<br>
       ケーキ<br>
       焼き菓子<br>
       プリン<br>
       キャンディ<br>
    </div>
    <div class="col-md-9" >
     商品一覧
      <table>
        <% @items.each do |item| %>
        <tbody>
          <th><%= item.name %>
            <%= link_to public_item_path(item) do %>
              <%= image_tag item.image %>
            <% end %>
            <%= item.price %>
          <% end %>
          </th>
        </tbody>
      </table>

      <strong> 全１億件 </strong>

     </div>
    </div>
  </div>
</div>


